.main {
  width: 100%;
  height: 70%;
  position: relative;
  background-color: yellowgreen;
}

.main > ul {
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}