.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(214,181,47,1) 53%, rgba(44,172,255,1) 100%);
}

.dark-mode {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(102, 102, 102, 1) 50%, rgba(0, 0, 0, 1) 100%);
}